

<section class="vlueiohomesection" >
    <div class="vlueiohome">
        <!-- <video class="bgvideoitem" crossorigin="anonymous" playsinline="" preload="auto" muted="" loop="" tabindex="-1"
            autoplay="" src="https://video.wixstatic.com/video/11062b_4067e167d0a04120a48d356d5dc6b465/1080p/mp4/file.mp4">
    
        </video> -->
        <div class="content">
            <div class="vlueiohomecontent">
    
                <h3>CUSTOMERS AND PARTNERS</h3>
                <p></p>
    
    
    
            </div>
            <div class="col">
                <div class="row cardsrow">
                    <div class="card">
                        <div class="row icon">
                                
                            <img [src]=url1 alt="">
                        </div>
     
    
                    </div>
                    <div class="card">
                        <div class="row icon">
                            <img [src]=url2 alt="">
                        </div>
               
                    </div>
                    <!-- <div class="card">
                        <div class="row icon">
                            <img [src]=url3 alt="">
                        </div>
                        
                    </div> -->
                    <div class="card">
                        <div class="row icon">
                            <img [src]=url4 alt="">
                        </div>
                        
                    </div>
                    <div class="card">
                        <div class="row icon">
                            <img [src]=url5 alt="">
                        </div>
                        
                    </div>
                    <!-- <div class="card">
                        <div class="row icon">
                            <img [src]=url6 alt="">
                        </div>
                        
                    </div>
                    <div class="card">
                        <div class="row icon">
                            <img [src]=url7 alt="">
                        </div>
                        
                    </div> -->
                </div>

            </div>

    
        </div>
    
    
       
    
    </div>
</section>