.footer {
    background-color: white;

    position: relative;
    z-index: 1;
    height: 15vh;
    align-content: center;
    justify-content: center;
    align-items: center;

    padding: 25px 300px !important;



}

.companydetails{
    padding-top: 5px;
padding-left: 30px;
}

.coloptions {

    text-align: left;
    padding-left: 50px;


}

.coldata{
    text-align: left;
    padding-left: 300px ;
}