<header>
    <div class="navbar row" [ngStyle]="{color: this.textColor}">
        <div class="col-3 navbarcol">
            <div class="logo" (click)="changepage('')">Vluedot</div>
        </div>

        <div class="col-4 nav-links" style="  cursor: pointer;">
            <ul class="links">
                <li class="homelink" (click)="changepage('')">Home</li>
                <li class="vlueiolink" (click)="changepage('vlueio')">Vlue IO</li>
                <!-- <li class="veeplink" (click)="changepage('veep')">Veep</li> -->
            </ul>
        </div>
        <div class="col-2 lang-selector">
            <ul class="links">
                <li *ngIf="this.currentLang == 'es'; else esp_option" (click)="changeLanguage('en')">Eng</li>
                <ng-template #esp_option>
                    <li (click)="changeLanguage('es')">Esp</li>
                </ng-template>

            </ul>

        </div>
        <div class="col-3 action_btn_col">
            <a href="https://api.whatsapp.com/send/?phone=%2B51983569250&text&type=phone_number&app_absent=0"
                target="_blank" rel="noopener noreferrer" class="action_btn" i18n>Contact Now</a>
        </div>
        <div class="toggle_btn col-3" (click)="openmenu(dropdown_menu,bcktggle)"><i class="fa-solid fa-bars"></i></div>


        <div class="dropdown_menu" #dropdown_menu style="  cursor: pointer;">
            <li class="homelink" (click)="changepage('')">Home</li>
            <li class="vlueiolink" (click)="changepage('vlueio')">Vlue IO</li>
            <!-- <li class="veeplink" (click)="changepage('veep')">Veep</li> -->
            <li *ngIf="this.currentLang == 'es'; else esp_option2" (click)="changeLanguage('en')">English version</li>
            <ng-template #esp_option2>
                <li (click)="changeLanguage('es')">Version en español</li>
            </ng-template>
            <li>
                <a href="https://api.whatsapp.com/send/?phone=%2B51983569250&text&type=phone_number&app_absent=0"
                    target="_blank" class="action_btn" i18n>Contact Now</a>

            </li>
        </div>
        <div #bcktggle class="bgtggle" (click)="openmenu(dropdown_menu,bcktggle)">
                
        </div>


    </div>
</header>