<section class="project">

    <div class="section-title">
        <h2>OUR PRODUCTS</h2>
    </div>

    <div class="vcarousel" style="background-color: white;">

        <div class="card" *ngFor="let card_info of projects_items; index as i">


            <div class="row" style="margin: 0; height: 100%;">
                <div class="image">
                    <img src={{card_info.url}} alt="">

                </div>
  
  <div class="content " style="background-color: transparent;">
                    <div class="fixedcontent"><h3>{{card_info.title}} </h3>
                        <p>{{card_info.description}}</p></div>
                </div>
            </div>

        </div>

    </div>
</section>