<main class="col vcore">
    <section class="landpage">
        <div class="background">
            <video class="bgvideoitem" crossorigin="anonymous" playsinline="" preload="auto" muted="" loop=""
                tabindex="-1" autoplay
                src="https://video.wixstatic.com/video/11062b_a2f321b297dc45d5ab4faa470fe1c9da/1080p/mp4/file.mp4">
            </video>

        </div>
        <div class="content row">
            <div class="col" style="place-content: center;">

                <div class="row">
                    <div class="prompt col-8">
                        <div class="prompt-content row">
                            <h1>
                                Track, plan and achieve
                                your personal goals using
                                <b> secure AI </b>
                                as your chat support.
                            </h1>
                        </div>
                        <div class=" startinfo row">
                            <h2>
                                Get Started for Free
                            </h2>
                            <h4>
                                Share your phone number to activate your demo account
                            </h4>

                            <div class="startdata">
                                <input type="tel" id="phoneNumber" placeholder="Enter your phone number" required />
    
                                <button class="action_btn" type="submit" (click)="startChat()">Start Chat</button>

                            </div>

                        </div>
                    </div>
                    <div class="col-4 contentimage">

                        <img class="promptimg"
                            src="https://static.wixstatic.com/media/nsplsh_7d7c5be4eba149d39c84c924e36e6e0e~mv2.jpg/v1/fill/w_400,h_650,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Image%20by%20Vitaly%20Gariev.jpg"
                            alt="alt">


                    </div>


                </div>

            </div>



        </div>


    </section>

    <section class="features">
        <div class="background">
            <video class="bgvideoitem" crossorigin="anonymous" playsinline="" preload="auto" muted="" loop=""
                tabindex="-1" autoplay
                src="https://video.wixstatic.com/video/11062b_a2f321b297dc45d5ab4faa470fe1c9da/1080p/mp4/file.mp4">
            </video>

        </div>
        <div class="content row">
            <div class="col" style="place-content: center;">

                <div class="row">
                    <div class="col-5 media">
                        <div class="contentvideo">

                            <video id="contenvideo" playsinline="" preload="auto" muted="" loop="" tabindex="-1"
                                autoplay
                                src="https://video.wixstatic.com/video/11062b_46c8335b4cfb41b9903ab4abd80eb742/1080p/mp4/file.mp4">
                            </video>
                        </div>


                    </div>
                    <div class="prompt col-7">
                        <div class="prompt-content row">
                            <h1 id="boxtittle">
                                What is Veep?
                            </h1>
                            <p>
                                It is an advanced communication and resource management solution built on top of VCore.
                                It transforms traditional messaging into a unified, intelligent ecosystem by seamlessly
                                integrating multiple communication channels with a suite of productivity tools and
                                AI-powered capabilities.

                                At its core, Veep leverages AI to automate and enhance everyday interactions. It
                                provides customizable, topic-specific chat environments that help maintain privacy and
                                security by isolating sensitive information.
                            </p>
                        </div>

                    </div>



                </div>

            </div>



        </div>


    </section>
</main>