<!-- 
<section class="vlueiohomesection" (mouseover)="playvideo(bglayerVideo)" (click)="playvideo(bglayerVideo)"
(touchstart)="playvideo(bglayerVideo)" > -->
<section class="vlueiohomesection">

    <div class="vlueiohome col">
        <div class="row bgvid">
            <video #bglayerVideo class="bgvideoitem" crossorigin="anonymous" playsinline preload="auto" muted loop=""
                tabindex="-1" autoplay
                src="https://video.wixstatic.com/video/11062b_f4324d20318b4007b1bb182fc0f6e9ae/1080p/mp4/file.mp4">
            </video>
        </div>
        <div class="content row">
            <div class="vlueiohomecontent">
                <h2 i18n>WHY CHOOSE VLUEDOT</h2>
                <h2 i18n>We stand out for our innovative approach and our dedication to excellence in every solution we
                    offer.</h2>
                <p i18n> <b>

                        Commitment to Quality and Results <br>
                    </b>
                    We work hand in hand with our customers to ensure that our solutions are not only effective, but
                    also generate a clear and measurable return on investment.<br>
                    <b>Continuous and Evolutionary Support<br></b>

                    We provide continuous support and adapt our solutions as the needs of the client's business evolve.
                </p>


                <div class="buttcontactus">
                    <a id="cubutton"
                        href="https://api.whatsapp.com/send/?phone=%2B51983569250&text&type=phone_number&app_absent=0"
                        class="cta" target="_blank" rel="noopener noreferrer" i18n>Contact us</a>
                </div>



            </div>



        </div>




    </div>
</section>