/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    font-family:  'SFProText', Arial, sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing : antialiased;
    height : 100vh;
    zoom: 1;
    background-color: black;
    overflow-x: hidden;
    display: block;



  }

  a {
    text-decoration: none;
    color: black;
  
  }
  
  a:hover {
    color: rgb(196, 83, 8)
  }

  .cta {
    background: black;
    color: #fff;
    padding: 10px 100px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;

}

.cta-black{
  border-style: solid !important;
border-width: 1px !important;
}


  @font-face {
    font-family: 'SFProText';
    src: url('assets/fonts/SF-Pro-Text-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'SFProDisplay';
    src: url('assets/fonts/SF-Pro-Display-Regular.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }


    
.logo {

  padding: 0 30px;
  font-size: 25px!important;
  font-family:  'SFProDisplay';
 



}