<!-- <main class=" vlueio" (mouseover)="playvideo(bglayerVideo);startCarousel(carouselin)"
    (click)="playvideo(bglayerVideo);startCarousel(carouselin)"
    (touchstart)="playvideo(bglayerVideo);startCarousel(carouselin)"> -->
<main class=" vlueio">

    <section class="hero">

        <div class="backgr">
            <div id="bglayer" class="bgvideo">
                <div id="bglayer" class="bgvideo1">

                    <video #bglayerVideo id="autoplayVideo" class="bgvideoitem" crossorigin="anonymous" playsinline=""
                        preload="auto" muted="" loop="" tabindex="-1" autoplay=""
                        src="https://video.wixstatic.com/video/11062b_0222b74fadf544389c01621af73cfebd/1080p/mp4/file.mp4">

                    </video>
                </div>
            </div>


            <!-- <div class="bgvideolayer" (mouseover)="playvideo(bglayerVideo)"> </div> -->
            <div class="bgvideolayer"> </div>

        </div>

        <div class="hero-content">
            <div class="hero-text">
                <h1>Vlue iO</h1><br>
                <h4><b i18n>SaaS and AI solutions for every Business</b></h4>
                <p i18n>Vlue iO delivers advanced business solutions that leverage artificial intelligence and SaaS
                    platforms to optimize processes and enhance communication.
                </p>
                <br>
                <h4><b i18n>VCore, an AI-powered middleware platform</b></h4>
                <p i18n>VCore integrates effortlessly with your existing systems, including ERPs and CRMs, to provide
                    scalable, customizable solutions that not only boost efficiency but also drive unprecedented
                    levels of productivity and innovation.
                </p>
            </div>


        </div>

    </section>

    <section class="hero2">

        <div class="backgr">
            <div id="bglayer" class="bgvideo">
                <div id="bglayer" class="bgvideo1">

                    <video #bglayerVideo id="autoplayVideo" class="bgvideoitem" crossorigin="anonymous" playsinline=""
                        preload="auto" muted="" loop="" tabindex="-1" autoplay=""
                        src="https://video.wixstatic.com/video/11062b_4067e167d0a04120a48d356d5dc6b465/1080p/mp4/file.mp4">

                    </video>
                </div>
            </div>


            <!-- <div class="bgvideolayer" (mouseover)="playvideo(bglayerVideo)"> </div> -->
            <div class="bgvideolayer"> </div>

        </div>


        <div class="herocontainer">
            <div class="hero-content">

                <div class="hero-text">

                    <h3 i18n>Integrated Artificial Intelligence</h3>
                    <p i18n>Vlue iO incorporates Artificial Intelligence to enhance business solutions, facilitating data
                        analysis, predictions and advanced automation.</p>

                </div>
                <div class="chat" id="vlueiochat">
                </div>
                <div class="loginbox" [hidden]="!loginRequired" id="google-login-box">
                    <!-- <div class="loginbox"  id="google-login-box"> -->
                    <p i18n style="margin-bottom: 10px !important; font-size: 14px;">Log in to continue...
                    </p>
                    <div class="login" style="width: fit-content; margin: auto;">
                        <div id="g_id_onload"
                            data-client_id="946970199837-op0v0spt8vjpf0mmakkeh1cn4rer3hei.apps.googleusercontent.com"
                            data-context="signin" data-ux_mode="popup" data-callback="handleCredentialResponse"
                            data-itp_support="true">
                        </div>

                        <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline"
                            data-text="signin_with" data-size="large" data-logo_alignment="left">
                        </div>
                    </div>
                </div>

            </div>


        </div>



    </section>

    <section class="hero3">

        <div class="backgr">
            <div id="bglayer" class="bgvideo">
                <div id="bglayer" class="bgvideo1">

                    <video #bglayerVideo id="autoplayVideo" class="bgvideoitem" crossorigin="anonymous" playsinline=""
                        preload="auto" muted="" loop="" tabindex="-1" autoplay=""
                        src="https://video.wixstatic.com/video/11062b_ed310367d9a64b75933e84fa3a9e19c5/1080p/mp4/file.mp4">

                    </video>
                </div>
            </div>




        </div>

        <div class="hero-content">
            <div class="hero-text">
                <!-- <h1>Vlue IO</h1> -->
                <h2 i18n>Integration with ERP</h2>
                <p i18n>We understand the importance of your systems working in a synchronized way. We offer
                    personalized
                    integration with your ERP to ensure that information flows continuously and reliably. With this
                    integration, companies can centralize their data and automate the entry and updating of information,
                    from orders and stock to financial reports, achieving a comprehensive management of their
                    operations.</p>
            </div>


            <div class="container">
                <div #carouselin class="carousel">
                    <div class="a it"><img [src]=url1 alt=""></div>
                    <div class="b it"><img [src]=url2 alt=""></div>
                    <div class="c it"><img [src]=url3 alt=""></div>
                    <div class="d it"><img [src]=url4 alt=""></div>



                </div>
            </div>



        </div>





    </section>



</main>