<main class=" vlueio" (mouseover)="playvideo(bglayerVideo);startCarousel(carouselin)"
    (click)="playvideo(bglayerVideo);startCarousel(carouselin)"
    (touchstart)="playvideo(bglayerVideo);startCarousel(carouselin)">

    <section class="hero">

        <div class="backgr">
            <div id="bglayer" class="bgvideo">
                <div id="bglayer" class="bgvideo1">

                    <video #bglayerVideo id="autoplayVideo" class="bgvideoitem" crossorigin="anonymous" playsinline=""
                        preload="auto" muted="" loop="" tabindex="-1" autoplay=""
                        src="https://video.wixstatic.com/video/11062b_0222b74fadf544389c01621af73cfebd/1080p/mp4/file.mp4">

                    </video>
                </div>
            </div>


            <div class="bgvideolayer" (mouseover)="playvideo(bglayerVideo)"> </div>

        </div>

        <div class="hero-content">
            <div class="hero-text">
                <h1>Vlue IO</h1>
                <h2>SaaS and AI solutions for Business Optimization</h2>
                <p>VlueIO specializes in the development of advanced business applications, integrating SaaS solutions
                    and AI technologies to optimize processes, improve communication and
                    increase productivity in various sectors.</p>
            </div>


        </div>

    </section>

    <section class="hero2">

        <div class="backgr">
            <div id="bglayer" class="bgvideo">
                <div id="bglayer" class="bgvideo1">

                    <video #bglayerVideo id="autoplayVideo" class="bgvideoitem" crossorigin="anonymous" playsinline=""
                        preload="auto" muted="" loop="" tabindex="-1" autoplay=""
                        src="https://video.wixstatic.com/video/11062b_4067e167d0a04120a48d356d5dc6b465/1080p/mp4/file.mp4">

                    </video>
                </div>
            </div>


            <div class="bgvideolayer" (mouseover)="playvideo(bglayerVideo)"> </div>

        </div>


        <div class="herocontainer">
            <div class="hero-content">

                <div class="hero-text">

                    <h3>Integrated Artificial Intelligence</h3>
                    <p>VlueIO incorporates Artificial Intelligence to enhance business solutions, facilitating data
                        analysis, predictions and advanced automation.</p>
                </div>
                <div class="chat" id = "vlueiochat">

                </div>
                
            </div>


        </div>



    </section>

    <section class="hero3">

        <div class="backgr">
            <div id="bglayer" class="bgvideo">
                <div id="bglayer" class="bgvideo1">

                    <video #bglayerVideo id="autoplayVideo" class="bgvideoitem" crossorigin="anonymous" playsinline=""
                        preload="auto" muted="" loop="" tabindex="-1" autoplay=""
                        src="https://video.wixstatic.com/video/11062b_ed310367d9a64b75933e84fa3a9e19c5/1080p/mp4/file.mp4">

                    </video>
                </div>
            </div>




        </div>

        <div class="hero-content">
            <div class="hero-text">
                <!-- <h1>Vlue IO</h1> -->
                <h2>Integration with ERP</h2>
                <p>We understand the importance of your systems working in a synchronized way. We offer personalized
                    integration with your ERP to ensure that information flows continuously and reliably. With this
                    integration, companies can centralize their data and automate the entry and updating of information,
                    from orders and stock to financial reports, achieving a comprehensive management of their
                    operations.</p>
            </div>


            <div class="container">
                <div #carouselin class="carousel">
                    <div class="a it"><img [src]=url1 alt=""></div>
                    <div class="b it"><img [src]=url2 alt=""></div>
                    <div class="c it"><img [src]=url3 alt=""></div>
                    <div class="d it"><img [src]=url4 alt=""></div>



                </div>
            </div>



        </div>





    </section>



</main>

