.vlueio {
    width: 100vw;
}

.hero {

    height: 60vh;
    min-height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;

}


.hero .backgr {
    height: 100%;
    width: 100%;
    z-index: 1;
}



.hero .backgr .bgvideo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: calc(80px + 60vh);

}


.hero .bgvideoitem {
    height: 100%;
    min-height: 530px !important;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    filter: brightness(30%);


}

.hero .hero-content {
    top: 25vh !important;
    color: white;
    padding: 0px 15% !important;
    position: absolute;
    z-index: 1;
}

.hero .hero-content .hero-text {
    padding-bottom: 0;
}


.hero .bgvideolayer {



    position: absolute;
    z-index: 2;
    opacity: 0.5;
    width: 100%;
    top: 0 !important;
    left: 0;
    height: calc(80px + 60vh);
    // object-fit: cover;
    // object-position: 50% 50%
    background-repeat: repeat;
    background-image: url(https://static.wixstatic.com/media/0da768_8b89980121844d37be099f0dbe33e3e3.png/v1/crop/x_0,y_0,w_6,h_6,q_85,enc_auto/0da768_8b89980121844d37be099f0dbe33e3e3.png);
    background-size: .3%;
}

.hero .bgvideo1 {
    height: 100%;
    width: 100%;
}




.hero .bgvideolayer_content {
    width: 100%;
    height: 100%;
}


.hero p {
    font-size: 20px;
    margin-bottom: 20px;
    word-spacing: .2rem;

}


.hero .hero-text h2 {
    padding-bottom: 10px !important;

}

.hero .hero-text h1 {
    padding-bottom: 10px !important;
    font-size: 3rem;

}



// ----------------------------------------------------------------

::ng-deep .navbar .logo {
    color: white
}

::ng-deep .navbar .logo {
    color: white
}

::ng-deep .navbar a {
    color: white
}

::ng-deep .navbar .toggle_btn {
    color: white
}


.hero2 {

    height: 50vh;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    min-height: 720px;
    place-items: center;

}


.hero2 .backgr {
    position: absolute;
    width: 100%;
    z-index: 1;
    min-height: 380px;
    height: 50vh!important;
min-height: 720px;
}



.hero2 .backgr .bgvideo {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 50vh!important;
min-height: 720px;

}


.hero2 .bgvideoitem {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    filter: brightness(80%);


}

.hero2 .herocontainer{

    height: 100%;
place-items: center;
place-content: center;


}

.hero2 .hero-content {
    // top: 17vh !important;
    color: white;
    padding: 0px 15% !important;
}

.hero2 .hero-text {

    text-align: center;
    padding: 0 !important;
}


.hero2 .bgvideolayer {



    position: absolute;
    z-index: 2;
    opacity: 1;
    width: 100%;
    top: 0 !important;
    left: 0;
    height: 100%;
    // object-fit: cover;
    // object-position: 50% 50%
    background-repeat: repeat;
    background-image: url(https://static.wixstatic.com/media/0da768_8b89980121844d37be099f0dbe33e3e3.png/v1/crop/x_0,y_0,w_6,h_6,q_85,enc_auto/0da768_8b89980121844d37be099f0dbe33e3e3.png);
    background-size: .3%;


}

.hero2 .bgvideo1 {
    height: 100%;
    width: 100%;
}





.hero2 .bgvideolayer_content {
    width: 100%;
    height: 100%;
}


.hero2 .hero-content {
    position: relative;
    z-index: 2;
    gap: 20px!important;
flex-direction: column;
display: flex;
}





.hero2 p {
    font-size: 20px;
    margin-bottom: 20px;
    word-spacing: .2rem;

}


.hero2 .hero-text h2 {
    padding-bottom: 10px !important;

}

.hero2 .hero-text h1 {
    padding-bottom: 10px !important;
    font-size: 3rem;

}

.hero2 .hero-text h3 {
    padding-bottom: 10px !important;

}




// ________________________________________________________________


.hero3 {

    // height: 90vh;
    min-height: 800px;
    width: 100%;
    display: block;
    // align-items: center;
    justify-content: center;
    color: black;
    text-align: center;

}


.hero3 .backgr {
    position: absolute;
    // height: 90vh;
    width: 100%;
    z-index: 1;
}



.hero3 .backgr .bgvideo {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 100%;

}


.hero3 .bgvideoitem {
    height: 100%;
    width: 100%;
    min-height: 800px;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    filter: brightness(110%);
    max-height: 800px;


}

.hero3 .hero-content {
    // top: 17vh !important;
    color: black;
    position: relative;
    z-index: 2;
}

.hero3 .hero-content .hero-text {

    text-align: center;
    padding: 8vh 14vw 5vh !important;


}


.hero3 .bgvideolayer {


    min-height: 800px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 100%;
    top: 0 !important;
    left: 0;
    height: 100%;
    // object-fit: cover;
    // object-position: 50% 50%
    // background-repeat: repeat;
    // background-image: url(https://static.wixstatic.com/media/0da768_8b89980121844d37be099f0dbe33e3e3.png/v1/crop/x_0,y_0,w_6,h_6,q_85,enc_auto/0da768_8b89980121844d37be099f0dbe33e3e3.png);
    // background-size: .3%;


}

.hero3 .bgvideo1 {
    height: 100%;
    width: 100%;
}





.hero3 .bgvideolayer_content {
    width: 100%;
    height: 100%;
}






.hero3 p {
    font-size: 20px;
    margin-bottom: 20px;
    word-spacing: .2rem;

}


.hero3 .hero-text h2 {
    padding-bottom: 10px !important;

}

.hero3 .hero-text h1 {
    padding-bottom: 10px !important;
    font-size: 3rem;

}


// ----------------------------------------------------------------




.hero3 .container {

    padding: 0 !important;
    // width: 60wv;
    height: 24vh;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
    perspective: 1000px;
    display: flex;
}

.hero3 .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    // transform-style: preserve-3d;
    // transition: transform 1000ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero3 .item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 200px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
}

.hero3 .it {
    height: 150px;
    // width: 15vw;
    position: absolute;
    align-items: center;
}

.hero3 .a {
    // transform: translateX(18vw) translateY(-20vh);
    transform: translateX(-35vw) translateY(0vh);
    // background-image: url(https://static.wixstatic.com/media/5ab796_4efccae7189e4e23816509dc346147eb~mv2.png/v1/fill/w_300,h_200,al_c,q_80,usm_0.66_1.00_0.01/5ab796_4efccae7189e4e23816509dc346147eb~mv2.png);
    // background-position: center;
    z-index: 1;
    // background-repeat: no-repeat;
}

.hero3 .b {

    transform: translateX(0vw) translateY(-12vh);
    // background-image: url(https://static.wixstatic.com/media/5ab796_4efccae7189e4e23816509dc346147eb~mv2.png/v1/fill/w_300,h_200,al_c,q_80,usm_0.66_1.00_0.01/5ab796_4efccae7189e4e23816509dc346147eb~mv2.png);
    // background-position: center;
    z-index: 2;
    // background-repeat: no-repeat;
}

.hero3 .c {
    // transform: rotateY(0deg)  translateX(0vw) translateY(0vh) ; 
    transform: translateX(35vw) translateY(0vh);
    // background-image: url(https://static.wixstatic.com/media/5ab796_4efccae7189e4e23816509dc346147eb~mv2.png/v1/fill/w_300,h_200,al_c,q_80,usm_0.66_1.00_0.01/5ab796_4efccae7189e4e23816509dc346147eb~mv2.png);
    // background-position: center;
    z-index: 3;
    // background-repeat: no-repeat;
}

.hero3 .d {

    transform: translateX(0vw) translateY(12vh);

    z-index: 2;
    // background-repeat: no-repeat;
}

.chat {
    position: relative; z-index: 2;
    place-content: center; 

}









// /* vlueiochat.css */
// #vlueiochat-container {
//     // position: relative !important;
//     width: auto;
//     height: auto;
// }

// #vlueiochat-chatbox {
//     // border: 1px solid #ccc;
//     border-radius: 10px !important;
//     background-color: transparent;
//     backdrop-filter: blur(20px) !important;
//     padding: 20px;
    
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     place-content: center;
//     place-items: center;
// }

// #vlueiochat-sendmessages{
//     width: 100%;
//     // height: 120px !important;
//     align-content: center;
// align-items: center;
// display: flex;
// }


// #vlueiochat-input {
//     width: 100%!important;
//     max-height: 130px; /* Limita la altura máxima si es necesario */
//     // min-height: 18px; /* Altura mínima para una línea de texto */
//     height: 65px;
//     padding: 10px;
//     font-size: 15px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     resize: none; /* Evita el redimensionamiento manual */
//     overflow-y:scroll; /* Oculta el scroll interno */
//     box-sizing: border-box; /* Incluye el padding en el tamaño total */
//     place-content: center;



// }






// #vlueiochat-send {
//     width: 8%!important;

//     padding: 10px;
//     background-color: #007BFF;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
// }

// #vlueiochat-send:hover {
//     background-color: #0056b3;
// }

// #vlueiochat-messages {
//     flex-grow: 1;
//     overflow-y: scroll;

//     font-size: 15px;
//     color: white !important;
//     height: 164.71px;
// // margin: 15px 0px !important;
// padding-right: 10px !important;
// scroll-behavior: smooth;
// place-content: center;
// place-items: center;

// }




















@media (max-width: 1030px) {
    .hero .hero-content {
        padding: 0px 10% !important;

        top: 20vh !important;

    }

    .hero2 .hero-content {
        padding: 0px 10% !important;

        top: 10vh !important;

    }


}

@media (max-width: 550px) {

    .hero{
    min-height: 600px;

    }

    .hero .bgvideoitem{
        min-height: 680px!important;
    
        }

    .hero3{
    min-height: 900px;

    }
.hero3 .bgvideoitem {
    min-height: 900px;
}

.hero3 .hero-content .hero-text{
    padding: 8vh 7vw 5vh !important;
}

.hero3 .it {
    height: auto;
    scale: 0.8;
}

}